{% include base_path %}
<head>
    <link rel="stylesheet" type="text/css" href="assets/css/main.scss">
</head>

<body>
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          <button id="dark-mode-toggle">Dark/Light</button>

          <script>
          const toggleButton = document.getElementById('dark-mode-toggle');
          toggleButton.addEventListener('click', () => {
              document.body.classList.toggle('dark-mode');
              document.head.classList.toggle('dark-mode');
          });
          </script>
          
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
</body>
