---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" type="text/css" href="assets/css/main.scss">
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}
    <!-- <button id="dark-mode-toggle">Dark/Light</button> -->

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <script>
        const toggleButton = document.getElementById('dark-mode-toggle');
        toggleButton.addEventListener('click', () => {
            document.body.classList.toggle('dark-mode');
            document.querySelector('masthead').classList.toggle('dark-mode');
            document.querySelector('masthead__menu').classList.toggle('dark-mode');
            document.querySelectorAll('.masthead__menu-item').forEach(item => item.classList.toggle('dark-mode'));
        });
    </script>
    
  </body>
</html>
